<div class="items-center justify-around bg-black h-24 px-8" [ngClass]="!playSong ? 'hidden' : 'flex' ">
  <section class="flex items-center gap-3 basis-1/4">
    @if (playSong?.image) {
    <img class="w-12 h-12 rounded-lg" [src]="playSong?.image" alt="image">
    } @else {
    <span class="material-icons-outlined text-gray text-5xl">
      image
    </span>
    }
    <section class="uppercase text-white">
      <p>{{ playSong?.title }}</p>
      <p>{{ playSong?.artist }}</p>
    </section>
  </section>

  <audio class="m-auto w-[50vw]" [src]="playSong?.audio" controls autoplay></audio>
</div>